{% extends "base.html" %}

{% block content %}
    <h1>Recipe Recommender</h1>
    <form action="" method="post" novalidate>
        <h3>Nutritional Requirements</h3>
        {{ form.hidden_tag() }}
        <p>
            {{ form.min_carb.label }}
            {{ form.min_carb(size=32) }}
        </p>
        <p>
            {{ form.max_carb.label }}
            {{ form.max_carb(size=32) }}
        </p>
        <p>
            {{ form.min_fat.label }}
            {{ form.min_fat(size=32) }}
        </p>
        <p>
            {{ form.max_fat.label }}
            {{ form.max_fat(size=32) }}
        </p>
        <p>
            {{ form.min_cal.label }}
            {{ form.min_cal(size=32) }}
        </p>
        <p>
            {{ form.max_cal.label }}
            {{ form.max_cal(size=32) }}
        </p>
        <p>
            {{ form.min_protein.label }}
            {{ form.min_protein(size=32) }}
        </p>
        <p>
            {{ form.max_protein.label }}
            {{ form.max_protein(size=32) }}
        </p>
        <h3>Intolerances</h3>
            {{ form.intolerances(size=6) }}
        <h3>Diets</h3>
            {{ form.diets(size=6) }}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}