{% extends "base.html" %}

{% block content %}
<style>
    .row {
        display: flex;
    }

    .column {
        flex: 50%;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

</style>
<h1>Recipe Recommender</h1>
<form action="" method="post" novalidate>
    <div class="row">
        <div class="column">
            <hr>
            <h3>Nutritional Requirements</h3>
            {{ form.hidden_tag() }}
            <p>
                {{ form.min_carb.label }}
                {{ form.min_carb(size=32) }}
            </p>
            <p>
                {{ form.max_carb.label }}
                {{ form.max_carb(size=32) }}
            </p>
            <p>
                {{ form.min_fat.label }}
                {{ form.min_fat(size=32) }}
            </p>
            <p>
                {{ form.max_fat.label }}
                {{ form.max_fat(size=32) }}
            </p>
            <p>
                {{ form.min_cal.label }}
                {{ form.min_cal(size=32) }}
            </p>
            <p>
                {{ form.max_cal.label }}
                {{ form.max_cal(size=32) }}
            </p>
            <p>
                {{ form.min_protein.label }}
                {{ form.min_protein(size=32) }}
            </p>
            <p>
                {{ form.max_protein.label }}
                {{ form.max_protein(size=32) }}
            </p>
            <hr>
            <h5>Ctrl + click for multiple selections in the following:</h5>
            <div class="d-flex flex-row">
                <!--adding extra divs for padding-->
                <div style="width: 25px;"></div>
                <div>
                    <h3>Ingredients</h3>
                    {{ form.ingredients(size=6) }}
                </div>
                <div style="width: 25px;"></div>
                <div>
                    <h3>Intolerances</h3>
                    {{ form.intolerances(size=6) }}
                </div>
                <div style="width: 25px;"></div>
                <div>
                    <h3>Diets</h3>
                    {{ form.diets(size=6) }}
                </div>
                <div style="width: 25px;"></div>

            </div>
            <p style="padding: 10px;">{{ form.submit() }}</p>
        </div>
        <div class="column">
            {% if empty_search %}
            <div class="alert alert-danger">
                {{ empty_search }}
            </div>
            {% endif %}
            {% if recipe_list %}
            <p style="padding: 10px;">{{ form.compare_submit() }}</p>
            Select two or more recipes to compare!
            {% endif %}
            {% if alertmessage %}
                <div class="alert alert-danger">
                    {{ alertmessage }}
                </div>
            {% endif %}
            <div class="d-flex flex-wrap">
                {% for recipe in recipe_list %}
                <div class="col-sm-6" style="padding:10px">
                    <div class="card" style="width: 15rem;">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs pull-right" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="recipe-tab-{{recipe.recipe_id}}" data-toggle="tab"
                                        href="#recipe-{{recipe.recipe_id}}" role="tab" aria-controls="recipe"
                                        aria-selected="true">Recipe</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="info-tab-{{recipe.recipe_id}}" data-toggle="tab"
                                        href="#info-{{recipe.recipe_id}}" role="tab" aria-controls="info"
                                        aria-selected="false">Ingredients</a>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <!-- Recipe Tab -->
                                <div class="tab-pane show active" id="recipe-{{recipe.recipe_id}}" role="tabpanel"
                                    aria-labelledby="recipe-tab-{{recipe.recipe_id}}">
                                    <img class="card-img-top" src={{ recipe.img_url }} alt="Card image cap">
                                    <h5 class="card-title">{{ recipe.recipe_name }}</h5>
                                    <input type="checkbox" id={{ recipe.recipe_id }} name={{ recipe.recipe_id }}
                                        value={{ recipe.recipe_id }}>
                                    <label for={{ recipe.recipe_id }}> Compare this recipe!</label><br>
                                    <a href={{ recipe.source_url }} class="btn btn-primary" target="_blank">Cook this recipe!</a>
                                </div>
                                <!-- Info Tab -->
                                <div class="tab-pane" id="info-{{recipe.recipe_id}}" role="tabpanel"
                                    aria-labelledby="info-tab-{{recipe.recipe_id}}">
                                    <div class="card-text">
                                        {%for ingredient in recipe.ingredients %}
                                        <ol class="list-group list-group-flush">
                                            <li class="list-group-item">{{ ingredient}}</li>
                                        </ol>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</form>



<!--
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://spoonacular.com/recipeImages/157109-312x231.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    -->
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
{% endblock %}