{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    {% if successmessage %}
        <div class="alert alert-success">
            {{ successmessage }}
        </div>
    {% endif %}
    {% if alertmessage %}
        <div class="alert alert-danger">
            {{ alertmessage }}
        </div>
    {% endif %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.age.label }}<br>
            {{ form.age(size=32) }}
        </p>
        <p>
            {{ form.height.label }}<br>
            {{ form.height(size=32) }}
        </p>
        <p>
            {{ form.weight.label }}<br>
            {{ form.weight(size=32) }}
        </p>
        <p>
            {{ form.gender.label }}<br>
            {{ form.gender(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}